extends layout

block content
 h1 Tagging
 h2 Welcome to #{title}
 p Please insert the name of the location and its hash
    form(action='', name='myname')
    p #{name}
        input(type='text', name='name')
    p #{hash}
        input(type='text', name='hash')
 p
